# ============ #
# OS generated #
# ============ #
desktop.ini


# ====================================== #
# Byte-compiled / optimized / DLL files
# ====================================== #
__pycache__/


# ====================================== #
# Large folders / test files
# ====================================== #
exe/
trained_model/


# ====================================== #
# Draft documentation
# ====================================== #
*.docx


# ====================================== #
# Temp/test folders/files
# ====================================== #
test/

*.tmp

test.py
test_*.py
